<section id ="achievements">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">        
                <h2 class="section-heading" >Achievements</h2>
                <p>My highest achievement has been the <b>felication</b> by the then <b >Vice President of India , Shri M Venkaiah Naidu</b>  as a part of the <b>Pradhan Mantri Innovative Learning Program </b>, a program for the top 60 students selected across India from the fields of Science and Arts. Apart from this, I am a recipient of the <b>National Talent Search Examination (NTSE)</b> as well as have cracked <b>Kishore Vaigyanik Protsahan Yojana (KVPY)</b>.I had an <b>All India Rank of 13</b> in JEE Advanced 2020 and an <b>All India Rank of 28 </b>in JEE Mains of the same year.
                </p>
               
            </div>
        </div>
    </div>

</section>