<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Work Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#achievements">Achievements</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
                <div class="intro" style = "margin-left: 0%; width: 40% ; margin-top:10% ; float:left">
                    <img class="img-circle img-responsive" style="float:left;
                   width: 90%;"src="img/me.jpg" alt=""> 
                    <h3 style="margin-left: -6% ;float:center; text-transform:none;font-style: italic;text-align:center; font-family: 'Droid Serif', 'Helvetica Neue', Helvetica,Arial,sans-serif;
                    ">Prathamesh Pilkhane</h3>
                </div>
               
            
            <div class="intro-text">

                <div class="intro-lead-in" style = "padding-top:5% ;padding-left:0%">Welcome to my website!</div>
                <p>I am Prathamesh Sachin Pilkhane, a student from Computer Science department of IIT Bombay. I am currently in my 3rd year of studies , with an expected graduation by May 2024. 
                    I like to find and learn about new things, then be it ChatGPT or on building a reinforcement learning agent for playing chess. Under the 3 years of my studies in IIT, I have taken up many interesting courses and done a variety of projects , a summary of a few can be found in <a class="page-scroll" href = #experience> the experience section </a>.  </p>                    
                </p>
                <a href="#experience" class="page-scroll btn btn-xl" >Random Text!</a>
            </div>

        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

